/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: black;
  height: 100vh;
  background: white;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* remove rounded corners from all Semantic UI components */
.layout-grid .main-col::-webkit-scrollbar-track,
.layout-grid .main-col::-webkit-scrollbar-thumb,
.ui.button,
.ui.menu,
.ui.table,
.ui.input > input,
.ui[class*="left action"].input > .button:first-child,
.ui[class*="left action"].input > .buttons:first-child > .button,
.ui[class*="left action"].input > .dropdown:first-child {
  border-radius: 0px;
}

/* remove separators in the MenuBar */
.ui.menu .item::before {
  display: none;
}

/* layout grid without padding */
.layout-grid .row {
  padding: 0px !important;
}
.layout-grid .column {
  padding: 0px !important;
}

/* the menu bar */
.menu-bar {
  height: 40px;
}
.menu-bar .menu {
  min-width: 14em !important;
}
.menu-bar .file-name {
  color: gray !important;
}

/* the tool bar */
.tool-bar {
  height: 60px;
  background: #1b1c1d;
  padding: 0px 16px;
}
.tool-bar > * {
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  margin-left: 16px !important;
  margin-right: 0px !important;
}
.tool-bar > *:first-child {
  margin-left: 0px !important;
}
.tool-bar > *:last-child {
  width: calc(100% - 309px) !important;
}
.tool-bar input {
  padding-top: 8.5px !important;
  padding-bottom: 8.5px !important;
}
.tool-bar i.icon {
  height: 36px !important;
}

/* main view with a wider scroll bar */
.layout-grid .main-row {
}
.layout-grid .main-col {
  overflow-y: scroll;
  width: 100vw !important;
  height: calc(100vh - 100px);
}
.layout-grid .main-col::-webkit-scrollbar {
  width: 20px;
}

.empty-view {
  font-size: 300%;
  color: gray;
  text-align: center;
  margin-top: calc(50vh - 100px);
}

.table-view td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20em;
}
